.movies-card-list {
  max-width: 1140px;
  width: 100%;
  background: #fafafa;
  display: grid;
  gap: 32px 20px;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  justify-items: center;
  padding-top: 80px;
}

.movies-card-list__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* По умолчанию 4 карточки в ряд */
  gap: 32px 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.movies-card-list__more-button {
  max-width: 320px;
  width: 100%;
  height: 36px;
  border-radius: 6px;
  background: #f4f4f4;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  margin-top: 50px;
}

.movies-card-list__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .movies-card-list__cards {
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
  }
}

@media screen and (max-width: 1010px) {
  .movies-card-list__cards {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд */
    gap: 36px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list__cards {
    grid-template-columns: 1fr; /* 1 карточка в ряд */
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card-list {
    padding-top: 50px;
  }

  .movies-card-list__more-button {
    max-width: 240px;
  }
}
